section{
  background: linear-gradient(to right, #0000007e, #0000007e),
    url("../../../../assets/image/image 1.png");

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-dropzone{
  height: 130px ;
  width: 130px ;
  border-radius: 50% 50%;
  overflow: hidden;
}


