<section>
  <div class="title-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h3>Recipes <span class="item-text">Items</span></h3>
          <p>You can now add your items that any user can order it from <br>the Application and you can edit</p>
        </div>
        <div class="col-md-4 text-end">
          <img src="assets/image/imgHome.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container py-3 d-flex justify-content-between">
    <div>
      <h4>Recipe Table Details</h4>
      <p class="light-gray">You can check all details</p>
    </div>
    <div>
      <button class="btn-main" routerLink="add">Add New Item</button>
    </div>
  </div>
  <!-- (click)="openDialog()" -->
  <mat-card>
    <div class="row">
       <div class="col-3">
        <mat-form-field class="w-100">
          <mat-label>Search By</mat-label>
          <mat-select  [(ngModel)]="searchByInput"
           >
            <mat-option  value="0">User Name</mat-option>
            <mat-option  value="0">Email</mat-option>
            <mat-option  value="0">Country</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <div class="  w-100 ">
          <mat-form-field class="example-full-width w-100">
            <mat-label>Search by {{searchByInput}}</mat-label>
            <input matInput [(ngModel)]="searchVal" placeholder="Search..." [value]="searchByInput">
          </mat-form-field>
          <!-- <input type="text" [(ngModel)]="searchVal" placeholder="Search by name..." class="form-control"> -->
        </div>
      </div>

      <div class="col-3">
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select [(ngModel)]="roleId" (selectionChange)="getAllUsers()">
            <mat-option  [value]="[1,2]">All</mat-option>
            <mat-option  [value]="1">Super Admin</mat-option>
            <mat-option  [value]="2">System User</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <table class="table  ">
      <thead>
        <th>User Name</th>
        <th>Image</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Country</th>

        <th>Role</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of listData  | searchUsers: searchVal; let isEven = even" [class]="isEven ? 'bg-white' : 'bg-light' ">
          <td>{{ item.userName }}</td>
          <td width="90px" class="pe-4">
            <img [src]=" imgPath+item.imagePath"  class="w-100" alt="" onerror="this.src='assets/image/Ellipse 234.svg'">

          </td>
          <td> {{ item.email}}</td>
          <td>{{ item.phoneNumber }}</td>
          <td>{{ item.country}}</td>
          <td>{{ item.group.name }}</td>
          <td><button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openViewDialog(item)">
              <mat-icon class="text-success">visibility</mat-icon>
              <span class="text-success">View</span>
            </button>
            <button  mat-menu-item (click)="openDeleteDialog(item)">
              <mat-icon class="text-danger">delete</mat-icon>
              <span class="text-danger">Delete</span>
            </button>
          </mat-menu></td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
              [length]="tableRes?.totalNumberOfRecords"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              [pageIndex]="pageNumber"
              (page)="handlePageEvent($event)"
              aria-label="Select page">
    </mat-paginator>
  </mat-card>

</section>



