

    <div class="container-fluid " style="width:600px ;">
      <div class="row w-100">
        <div class="  m-auto">
          <div class="auth-form">
            <div class="logo text-center">
              <img src="assets/image/logo.svg" alt="">
            </div>
            <h2 class="dark-gray">Change Your Password</h2>
            <p class="light-gray">Enter your details below</p>
            <form (ngSubmit)="handleForm()" [formGroup]="resetPasswordForm">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
              <input #oldPasswordInput type="text" class="form-control" placeholder="Odl Password" aria-label="oldPassword" aria-describedby="basic-addon1" formControlName="oldPassword">
            </div>


              <p class="alert alert-danger  p-1" *ngIf="resetPasswordForm.get('oldPassword')?.getError('pattern')">Password is invalid</p>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                <input #newPasswordInput [type]="isHide ? 'password' : 'text' " class="form-control" placeholder="New Password" aria-label="newPassword" aria-describedby="basic-addon1" formControlName="newPassword">
                <span (click)="(isHide = !isHide)" class="input-group-text" id="basic-addon1"><i class="fa-solid" [class]="isHide ? 'fa-eye-slash' : 'fa-eye' "></i></span>
              </div>


                <p class=" alert alert-danger p-1" *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">Password is invalid</p>

              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                <input #confirmNewPasswordInput [type]="isHideRePassword ? 'password' : 'text' "  class="form-control" placeholder="Confirm-passeord" aria-label="passeord" aria-describedby="basic-addon1" formControlName="confirmNewPassword">
                <span (click)="(isHideRePassword = !isHideRePassword)" class="input-group-text" id="basic-addon1"><i class="fa-solid" [class]="isHideRePassword ? 'fa-eye-slash' : 'fa-eye' "></i></span>
              </div>


                <p class="   alert alert-danger p-1" *ngIf="resetPasswordForm.get('confirmNewPassword')?.getError('mismatch')">Password confirmation is incorrect</p>

              <button [disabled]="resetPasswordForm.invalid" class="btn-main w-100">
                <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
                Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>






