<section>
  <div class="container">
    <div class="row">
      <div class="col-md-7 m-auto">
        <div class="auth-form">
          <div class="logo text-center">
            <img src="assets/image/logo.svg" alt="">
          </div>
          <h2 class="dark-gray">Reset  Password</h2>
          <p class="light-gray">Please Enter Your Otp  or Check Your Inbox</p>
          <form (ngSubmit)="handleForm()" [formGroup ]="changePasswordForm">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
            <input #seedInput type="text" class="form-control" placeholder="OTP" aria-label="seed" aria-describedby="basic-addon1" formControlName="seed">
          </div>
          <div class="alert alert-danger p-1 font-md" *ngIf="resetPasswordForm.get('seed')?.errors &&( resetPasswordForm.get('seed')?.touched || seedInput.value.length > 0)">
            <p class="mb-0 p-1" *ngIf="resetPasswordForm.get('seed')?.getError('required')">OTP is Required</p>

        </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
              <input #passwordInput [type]="isHide ? 'password' : 'text' " class="form-control" placeholder="Password" aria-label="passeord" aria-describedby="basic-addon1" formControlName="password">
              <span (click)="(isHide = !isHide)" class="input-group-text" id="basic-addon1"><i class="fa-solid" [class]="isHide ? 'fa-eye-slash' : 'fa-eye' "></i></span>
            </div>
            <div class="alert alert-danger p-1" *ngIf="resetPasswordForm.get('password')?.errors && (resetPasswordForm.get('password')?.touched || passwordInput.value.length < 0)">
              <p class="mb-0 p-1" *ngIf="resetPasswordForm.get('password')?.getError('required')">Password is Required</p>
              <p class="mb-0 p-1" *ngIf="resetPasswordForm.get('password')?.getError('pattern')">Password is invalid</p>
          </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
              <input #confirmPasswordInput [type]="isHideRePassword ? 'password' : 'text' "  class="form-control" placeholder="Confirm-passeord" aria-label="passeord" aria-describedby="basic-addon1" formControlName="confirmPassword">
              <span (click)="(isHideRePassword = !isHideRePassword)" class="input-group-text" id="basic-addon1"><i class="fa-solid" [class]="isHideRePassword ? 'fa-eye-slash' : 'fa-eye' "></i></span>
            </div>
            <div class="alert alert-danger p-1" *ngIf="resetPasswordForm.get('confirmPassword')?.errors && (resetPasswordForm.get('confirmPassword')?.touched || confirmPasswordInput.value.length < 0)">
              <p class="mb-0 p-1" *ngIf="resetPasswordForm.get('confirmPassword')?.getError('required')">confirmPassword is Required</p>
              <p class="mb-0 p-1" *ngIf="resetPasswordForm.get('confirmPassword')?.getError('mismatch')">Password confirmation is incorrect</p>
          </div>
            <button [disabled]="changePasswordForm.invalid" class="btn-main w-100">
              <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
              Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


