<section>
  <div>
    <div class="logo text-center pt-3 pe-4">
      <img src="assets/image/3.png" alt="">
    </div>

    <ul class="mt-5">
      <ng-container *ngFor="let item of menu">
        <li *ngIf="item.isActive">
          <a [routerLink]="item.link" routerLinkActive="active">
            <span><i class="fa-solid" [class]="item.icon"></i></span>
            <span>{{ item.text }}</span>
            </a>
        </li>
      </ng-container>
      <li class="mt-4"><a (click)="logOut()">
        <span><i class="fa-solid fa-right-from-bracket"></i></span>
         Log Out</a></li>
    </ul>
  </div>


</section>
