<section class="vh-100">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="d-flex flex-wrap justify-content-between h-100 ">
          <div class="logo mt-4">
            <img src="assets/image/logo.svg" alt="">
          </div>
          <div>
            <h3 class="fw-semibold">Oops</h3>
            <h5 class="main-color fs-4 fw-normal">Page  not found </h5>
            <p>This Page doesn’t exist or was removed! <br>
              We suggest you  back to home.</p>
              <button (click)="toHome()" class="btn-main w-100">
                <i class="fa-solid fa-arrow-left"></i>
                  Back To Home</button>
          </div>
          <div></div>
        </div>

      </div>
      <div class="col-6 img">

      </div>
    </div>
  </div>
</section>
