section{
  background-image: url('../../../assets/image/Vector.png');
 background-position: right;
  background-size:  980px 750px;
  background-repeat: no-repeat;
  .img{

    background-image: url('../../../assets/image/Group 48101676.png');
    background-position: bottom;
    background-size: 550px 450px ;
    height: 100vh;
    background-repeat: no-repeat;
  }
}
