<section>
  <div class="container">
    <div class="row">
      <div class="col-md-7 m-auto">
        <div class="auth-form">
          <div class="logo text-center">
            <img src="../../assets/image/logo.svg" alt="">
          </div>
          <h2 class="dark-gray">Forgot Your Password?</h2>
          <p class="light-gray">No worries! Please enter your email and we will send a password reset link </p>
          <form (ngSubmit)="handleForm()" [formGroup]="requestForm">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
              <input #emailInput type="email" class="form-control" placeholder="email" aria-label="email" aria-describedby="basic-addon1" formControlName="email">
            </div>
            <div class="alert alert-danger p-1 font-md" *ngIf="requestForm.get('email')?.errors &&( requestForm.get('email')?.touched || emailInput.value.length > 0)">
              <p class="mb-0 p-1" *ngIf="requestForm.get('email')?.getError('required')">Email is Required</p>
              <p class="mb-0 p-1" *ngIf="requestForm.get('email')?.getError('email')">Email invalid</p>
          </div>


              <a routerLink="/auth/login" class="main-color text-decoration-none ">Login Now ?</a>

            <button [disabled]="requestForm.invalid" class="btn-main w-100 mt-2">
              <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
              Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

