section
{
  background-image: url('../../../assets/image/Group 48102660.png');
  height: 50vh;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  .userName{
    color: rgba(216, 216, 216, 0.911);
  }
}
