section
{
  background-image: url('../../../assets/image/Group 48102660.png');
  height: 50vh;
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  .userName{
    color: rgba(216, 216, 216, 0.911);
  }
  .recipe{
    color: #009247;
  }
  .text{
    background-color: #F0FFEF;
    border-radius: 10px;
    margin-top: 15px;
    margin-inline: 5px;
    padding-block: 30px;
    padding-inline: 10px;
    font-weight: 500;
  }
}
