<section>
  <div class="container h-100">
    <div class="row align-items-center h-100 ms-4">
      <div class="col-8">
        <div class="text-white">
          <h2>
            <span>Welcome <span class="userName">{{userName}} !</span></span>
          </h2>
          <p>This is a welcoming screen for the entry of the application , <br> you can now see the options</p>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
  <div class="row text">
    <div class="col-8">
      <h3>Show the <span class="recipe">Recipes !</span></h3>
    <p class="light-gray">you can now fill the meals easily using the table and form ,<br> click here and sill it with the table !</p>
    </div>
    <div class="col-4 text-end ">
      <button class="btn-main w-75 m-4" routerLink="/dashboard/user/user-recipes">
        All Recipes
        <span><i class="fa-solid fa-arrow-right"></i></span>
        </button>
    </div>
  </div>
</section>
